:nth-child(1n + 3) {
    color: NaN
}
[title="identifier"], .noQuote, .singleQuote, .doubleQuote {
    color: NaN
}
[title="identifier"], .noQuote, .singleQuote, .doubleQuote {
    color: NaN
}
[title="identifier"], .noQuote, .singleQuote, .doubleQuote {
    color: NaN
}