@import './variables';
@import './base';
@import './mixin';
@import './reset';
@import './grid';

.useage1 {
	background-color: $primary-1;
}
.useage2 {
	background-color: $primary-2;
}
.useage3 {
	background-color: $primary-3;
}
.useage4 {
	background-color: $primary-4;
}
.useage5 {
	background-color: $primary-5;
}
.useage6 {
	background-color: $primary-6;
}
.useage7 {
	background-color: $primary-7;
}
.useage8 {
	background-color: $primary-8;
}
.useage9 {
	background-color: $primary-9;
}
.useage10 {
	background-color: $primary-10;
}