.z {
    color: red
}
.z .c {
    color: green
}
.only-with-visible, .z {
    color: green
}
.only-with-visible:hover, .z:hover {
    color: green
}
.only-with-visible + .only-with-visible, .only-with-visible + .z, .z + .only-with-visible, .z + .z {
    color: green
}
.only-with-visible + .only-with-visible .sub, .only-with-visible + .z .sub, .z + .only-with-visible .sub, .z + .z .sub {
    color: green
}
.hidden {
    hidden: true
}
@media tv {
    .hidden {
        hidden: true
    }
}
/* comment is not output */
.zz {
    /* comment pulled in */
}
.zz .y {
    pulled-in: yes /* inline comment survives */
}
@supports (something: else) {
    .class {
        something: else
    }
    .nestedToo .class {
        something: else
    }
    .invisible {
        something: else
    }
}