@import "../css/background.css";
@import "import-test-d.css";
#logo {
  width: 100px;
  height: 100px;
  background: url('../assets/logo.png');
  background: url("#inline-svg");
}
@font-face {
  font-family: xecret;
  src: url('../assets/xecret.ttf');
}
#secret {
  font-family: xecret, sans-serif;
}
#imported-relative-path {
  background-image: url(../../data/image.jpg);
  border-image: url('../../data/image.jpg');
}
