/nbproject/private/
/node_modules/*
/md/*
/ts/*
/packages/*
/coverage/
package-lock.json
node_modules/
chromedriver
selenium-server-*
/.vscode/*
/.history/*
xxx.js
index.css
stand.js
index3.html
index4.html
.DS_Store
packages/cli/packages/lib/