
language: node_js

node_js:
  - "6"

cache:
  directories:
    - node_modules


# Make chrome browser available for testing
before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start


install:
  - npm install
  - selenium-standalone install --config-./s.js
  - selenium-standalone start

script:
  - npm run build
