.anu-swiper {
    display: flex;
    flex-direction: column;
}
.anu-swiper__wrapper {
    width: 100%;
    height: 100%;
    transition: transform .4s;
}

.anu-swiper__content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.anu-swiper__content--transition {
    transition: transform .4s;
}

.anu-swiper__item {
    flex-grow:1;
    flex-shrink:0;
    width: 100%;
    height: 100%;
}

.anu-swiper__pagination {
    display: flex;
    justify-content: center;
    transform:translate(0, -18px);

}

.anu-swiper__pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin: 0 5px;
    background-color: #eee;
}

.anu-swiper__pagination-bullet--active {
    background-color: #1aad19;
}