#colours {
    color1: NaN;
    color2: NaN;
    color3: NaN;
    string: NaN
    /* comments are stripped */
    /* ! but not this type
      Note preserved whitespace */
}
dimensions {
    val: NaN;
    val: NaN;
    val: NaN;
    val: 0.2;
    val: 5;
    angles-must-have-unit: NaN;
    durations-must-have-unit: NaN;
    length-doesnt-have-unit: NaN;
    width: NaN
}
@page {
    marks: NaN;
    @top-left-corner {
        vertical-align: NaN
    }
    @top-left {
        vertical-align: NaN
    }
}
.shadow ^ .dom, body ^^ .shadow {
    display: NaN
}