.page-appear {
    transform: translate(500px);
    height: 100%;
}
.page-appear-done {
    transform: translate(0);
    transition: transform 300ms;
    height: 100%;
}
.page-exit {
    transform: translate(0);
    height: 100%;
}
.page-exit-done {
    transform: translate(500px);
    transition: transform 300ms;
    height: 100%;
}
  