.page-appear {
    transform: translateX(500px);
    height: 100%;
}
.page-appear-done {
    transition: transform 300ms ease;
    height: 100%;
}
.tab-appear {
    opacity: 0;
}
.tab-appear-done {
    height: 100%;
    transition: opacity 300ms ease;
}
  