page{
    background-color: #fff;
    font-size: 14px;
}
.shopping_container{
    padding: 0 30rpx;
}
.shopping_container .title{
    margin: 20rpx 0;
    font-weight: bold;
    color: #333;
}

.shopping_container .reason{
    margin: 20rpx 0;
    color: #939393;
    line-height: 22px;
}