.welcome-text{
    font-size: 60rpx;
    animation: Scale 1s;
    text-align: center;
    color: #fff;
    text{
        color: #fff;
    }
}
@keyframes Scale{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}