.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}


.item {
  padding: 10px 20px;
  background-color: #eee;
  margin: 2px 0px;
  text {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
