.__internal__Header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 1000;
}
.__internal__Header-title {
    flex-grow: 1;
    padding: 0 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.__internal__Header-title {
    margin-left: 6px;
}
.__internal__Header-back {
    width: 48px;
    height: 100%;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
}
.__internal__Header-back:active {
    background-color: rgba(255, 255, 255, 0.15);
}