div {
    width: NaN;
    width: NaN;
    width: NaN;
    width: NaN;
    width: NaN
}
.column-1 {
    width: NaN
}
.column-2 {
    width: NaN
}
.column-3 {
    width: NaN
}
.column-4 {
    width: NaN
}