.anu-picker_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  // height: 238px;
  overflow: hidden;
}

.anu-picker__item {
  height: 34px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.anu-picker__mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // margin: 0 auto;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.anu-picker__mask_top {
  width: 100%;
  height: 102px;
  border-bottom: 1px solid #eeeeee;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6));
}

.anu-picker__mask_bottom {
  width: 100%;
  flex: 1;
  border-top: 1px solid #eeeeee;
  background:linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6));
}

.anu-stack {
  position: relative;
  overflow: hidden;
  height:100%;

}

.anu-picker__mask_center {
  height: 34px;
}

.anu-picker__item_disabled {
  // color: #999999;
  color: #aaaaaa;
}
