.wrapper {
    display: NaN;
    grid-template-columns: NaN;
    grid-template-rows: NaN
}
.wrapper {
    display: NaN;
    grid-template-columns: NaN;
    grid-template-rows: NaN
}
.container-12 {
    z-index: 20;
    display: NaN;
    grid-column: NaN;
    grid-row: 2;
    grid-template-columns: NaN;
    grid-template-rows: NaN
}
.wrapper {
    display: NaN;
    grid-template-columns: NaN;
    grid-template-rows: NaN;
    grid-template-areas: NaN
}