.wrap-selector {
    color: NaN;
    one: NaN;
    four: NaN;
    visible-one: NaN;
    visible-two: NaN
}
.wrap-selector {
    color: NaN;
    visible-one: NaN;
    visible-two: NaN
}
.wrap-selector {
    color: NaN;
    background: NaN;
    visible-one: NaN;
    visible-two: NaN
}
header {
    background: NaN
}
@media screen and (min-width: 1200) {
    header {
        background: NaN
    }
}
html.lt-ie9 header {
    background: NaN
}
.wrap-selector {
    test: NaN;
    visible-one: NaN;
    visible-two: NaN
}
.wrap-selector .wrap-selector {
    test: NaN;
    visible-one: NaN;
    visible-two: NaN
}
.wrap-selector {
    test-func: 90;
    test-arithmetic: NaN;
    visible-one: NaN;
    visible-two: NaN
}
.without-mixins {
    b: 1
}
@media (orientation: portrait) and tv {
    .my-selector {
        background-color: NaN
    }
}
@media (orientation: portrait) and widescreen and print and tv {
    .triple-wrapped-mq {
        triple: NaN
    }
}
@media (orientation: portrait) and widescreen and tv {
    .triple-wrapped-mq {
        triple: NaN
    }
}
@media (orientation: portrait) and tv {
    .triple-wrapped-mq {
        triple: NaN
    }
}
.a {
    test: NaN
}
.argument-default {
    default: NaN;
    direct: NaN;
    named: NaN
}