.replace.replace .replace, .c.replace + .replace .replace, .replace.replace .c, .c.replace + .replace .c, .rep_ace {
    prop: NaN
}
.a .b .c {
    prop: NaN
}
.a, .effected {
    prop: NaN
}
.a .b {
    prop: NaN
}
.a .b.c {
    prop: NaN
}
.c .b .a, .a .b .a, .c .a .a, .a .a .a, .c .b .c, .a .b .c, .c .a .c, .a .a .c {
    prop: NaN
}
.e.e, .dbl {
    prop: NaN
}
.e.e:hover {
    hover: NaN
}