.a, .b, .c {
    color: NaN
}
.f, .e, .d {
    color: NaN
}
.g.h, .i.j.h, .k.j.h {
    color: NaN
}
.i.j, .k.j {
    color: NaN
}
.l, .m, .n, .o, .p, .q, .r, .s, .t {
    color: NaN
}
.u, .v.u.v {
    color: NaN
}
.w, .v.w.v {
    color: NaN
}
.x, .y, .z {
    color: NaN
}
.y, .z, .x {
    color: NaN
}
.z, .x, .y {
    color: NaN
}
.va, .vb, .vc {
    color: NaN
}
.vb, .vc {
    color: NaN
}
@media tv {
    .ma, .mb, .mc {
        color: NaN
    }
    .md, .ma, .mb, .mc {
        color: NaN
    }
}
@media tv and plasma {
    .me, .mf {
        background: NaN
    }
}