.multiunit {
    length: 6;
    extract: NaN
}
.incorrect-index {
    v1: NaN;
    v2: NaN
}
.scalar {
    var-value: NaN;
    var-length: 1;
    ill-index: NaN;
    name-value: NaN;
    string-value: NaN;
    number-value: 12345678;
    color-value: NaN;
    rgba-value: NaN;
    empty-value: 0;
    name-length: 1;
    string-length: 1;
    number-length: 1;
    color-length: 1;
    rgba-length: 1;
    empty-length: 1
}
.mixin-arguments-1 {
    length: 4;
    extract: NaN
}
.mixin-arguments-2 {
    length: 4;
    extract: NaN
}
.mixin-arguments-3 {
    length: 4;
    extract: NaN
}
.mixin-arguments-4 {
    length: 0;
    extract: NaN
}
.mixin-arguments-2 {
    length: 4;
    extract: NaN
}
.mixin-arguments-3 {
    length: 4;
    extract: NaN
}
.mixin-arguments-4 {
    length: 3;
    extract: NaN
}
.mixin-arguments-2 {
    length: 4;
    extract: NaN
}
.mixin-arguments-3 {
    length: 4;
    extract: NaN
}
.mixin-arguments-4 {
    length: 3;
    extract: NaN
}
.md-space-comma {
    length-1: 3;
    extract-1: NaN;
    length-2: 3;
    extract-2: 2
}
.md-space-comma-as-args-2 {
    length: 3;
    extract: NaN
}
.md-space-comma-as-args-3 {
    length: 3;
    extract: NaN
}
.md-space-comma-as-args-4 {
    length: 2;
    extract: NaN
}
.md-cat-space-comma {
    length-1: 3;
    extract-1: NaN;
    length-2: 3;
    extract-2: 2
}
.md-cat-space-comma-as-args-2 {
    length: 3;
    extract: NaN
}
.md-cat-space-comma-as-args-3 {
    length: 3;
    extract: NaN
}
.md-cat-space-comma-as-args-4 {
    length: 2;
    extract: NaN
}
.md-cat-comma-space {
    length-1: 3;
    extract-1: NaN;
    length-2: 3;
    extract-2: 2
}
.md-cat-comma-space-as-args-1 {
    length: 3;
    extract: NaN
}
.md-cat-comma-space-as-args-2 {
    length: 3;
    extract: NaN
}
.md-cat-comma-space-as-args-3 {
    length: 3;
    extract: NaN
}
.md-cat-comma-space-as-args-4 {
    length: 0;
    extract: NaN
}
.md-3D {
    length-1: 2;
    extract-1: NaN;
    length-2: 2;
    extract-2: NaN;
    length-3: 4;
    extract-3: 7;
    length-4: 1;
    extract-4: 8
}