input[type="text"].class#id[attr=32]:not(1) {
    color: NaN
}
div#id.class[a=1][b=2].class:not(1) {
    color: NaN
}
@media print {
    .class {
        color: NaN
    }
    .class .sub {
        width: 42
    }
}
.visible {
    color: NaN
}
.visible .c {
    color: NaN
}
.visible {
    color: NaN
}
.visible:hover {
    color: NaN
}
.only-with-visible + .visible, .visible + .only-with-visible, .visible + .visible {
    color: NaN
}
.only-with-visible + .visible .sub, .visible + .only-with-visible .sub, .visible + .visible .sub {
    color: NaN
}
@supports (something: else) {
    .class {
        something: NaN
    }
    .nestedToo .class {
        something: NaN
    }
}
.b {
    color: NaN;
    color: NaN
}
.b .c {
    color: NaN
}
.b:hover {
    color: NaN
}
.b + .b {
    color: NaN
}
.b + .b .sub {
    color: NaN
}
.y {
    pulled-in: NaN
}
/* comment pulled in */
.visible {
    extend: NaN
}
.test-mediaq-import {
    color: NaN;
    test: NaN
}
@media (max-size: 450px) {
    .test-mediaq-import {
        color: NaN
    }
}
.test {
    color: NaN
}
.test:first-child {
    color: NaN
}
@keyframes some-name {
    property: NaN
}
@supports (animation-name: test) {
    @keyframes some-name {
        property: NaN
    }
    .selector {
        color: NaN
    }
}
div {}