.center {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.button {
  width: 100%;
  padding: 14px;
  box-sizing: border-box;
  line-height: 2.55555556;
  border-radius: 5px;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  border: 1px solid #eee;
  background-color: #f8f8f8;
  
}

.default {
  background-color: #f8f8f8;
}
.primary {
  background-color: #1aad19;
}
.warn {
  background-color: #e64340;
}
.default-active{
  background-color: darken(#f8f8f8,50%);
}
.primary-active{
  background-color: lighten(#1aad19,50%);
}
.warn-active{
  background-color: saturate(#e64340,70%);
}


.default-disabled {
  background-color: #f7f7f7;
}

.primary-disabled {
  background-color: #9ed99d;
}

.warn-disabled {
  background-color: #ec8b89;
}
.default-plain {
  border: 1px solid #353535;
  background-color: transparent;
}

.primary-plain {
  border: 1px solid #1aad19;
  background-color: transparent;
}

.warn-plain {
  border: 1px solid #e64340;
  background-color: transparent;
}

.default-disabled-plain, .primary-disabled-plain, .warn-disabled-plain  {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
}

.loading-style {
  margin-right: 10px;
}

.mini {
  padding:0 5px;
}

