@import '../../common/style/common.scss';

page{
  height:100%;
}
#playingpage {
  width: 100%;
  height:100%;
  & > .anu-col {
    width: 100%;
    height:100%;
    position: relative;
  }
}
#playing-zz{text-align: center;position: absolute;z-index:20;width: 100%;top:0;}
#playing-zz image{width: 222rpx;height:366rpx;margin:-60rpx 0 0 60px; transform-origin:60rpx 60rpx; transform: rotate(-20deg);
transition: all linear .5s }

#coverbg{position: absolute;height:auto;top:0;right:0;left: 0;bottom:0;z-index:-2;display:block}

#playing-main{margin: 160rpx auto 0;position: relative;z-index:10;width: 596rpx;
 height:596rpx; animation-delay: .5s;animation: circle 20s linear infinite; animation-play-state: paused;}
#playingmainbg{width:596rpx;height: 596rpx;position: relative;z-index: 1}
#pmaincover{position: absolute;width: 388rpx;height: 388rpx;left:104rpx ;top:104rpx;z-index: 3;
border-radius: 50%;overflow: hidden;}

#playing-actwrap{width: 100%;box-sizing:border-box;overflow: hidden;z-index: 10}
#playing-info{display: flex;margin:0 80rpx}
.pi-act{flex: 1;text-align: center;position: relative}
.pi-act image{width:80rpx;height: 80rpx;}


#playingaction{margin: 10rpx 10rpx 30rpx;display: flex}
.pa-baction,.pa-maction,.pa-saction{flex: 1;text-align: center;width: 100%}
.pa-baction image{width:110rpx;height:110rpx; vertical-align: middle }
.pa-maction image{width:80rpx;height:80rpx;vertical-align: middle;margin-top: 15rpx}
.pa-saction image{width:120rpx;height:120rpx; vertical-align: middle;}


.playing #playing-main{animation-play-state: running !important;}
.playing #playing-zz image{transform: rotate(-0deg) }

.blurbg {
    filter: blur(30px) brightness(0.8);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;top:0;right:0;left: 0;bottom:0;z-index:-2;display:block
  }

.commentscount text {
  position: absolute;
  font-size: 22rpx;
  left: 50%;
  top: 50%;
  margin-left: 10rpx;
  margin-top: -35rpx;
  color: #ddd;
}
