<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>react 后端渲染</title>
    <script src='React.js'></script>
      <script src='babel.js'></script>
       <script type='text/babel'>

 class Test extends React.Component{
      click(){
          console.log('=========')
      }
      render(){
          return <h1>{this.props.name}
          <p onClick={this.click.bind(this)}>事件</p>
          </h1>;
      }
  }
  window.onload = function(){
      ReactDOM.render(<Test name='司徒正美' />, document.getElementById('container'))
  }
      </script>
</head>

<body>
    <div id="container">
        <%-component%>
    </div>
    <!--使用ejs模板解析后的html字符串-->
</body>

</html>