

.inline-container{
  display: flex;
  flex-direction: column;
  .item{
    background: #f8f8f8;
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width:100%;
  }
}
