body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
  font-size: 16px;
}
* {
  padding: 0;
  margin: 0;
  outline: none;
}
#app {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
