.button-wrapper {
    button {
        margin-bottom: 20px;
    }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.item {
  margin: 10px 20px;

}

.text {
  width: 200px;
  height: 50px;
  border: 1px solid #eeeeee;
  border-radius: 0 0 0 5px;
}