.link + .link {
    color: NaN
}
.link .link {
    color: NaN
}
.link.link {
    color: NaN
}
.link, .linkish {
    color: NaN
}
.grand .parent > .grand .parent {
    color: NaN
}
.grand .parent .grand .parent {
    color: NaN
}
.grand .parent.grand .parent {
    color: NaN
}
.grand .parent, .grand .parentish {
    color: NaN
}